
<div class="container-fluid d-flex justify-content-center align-items-center vh-100">
    <div class="card shadow-lg w-50 p-4">
      <div class="card-body">
        <h3 class="card-title text-center mb-4">Password Reset</h3>
        <p class="card-text text-center text-muted">
          Reset your password and start subscribing to your favorite books. Unsubscribe anytime with ease.
        </p>
        <form [formGroup]="passwordResetForm" (ngSubmit)="onSubmit()">
          <!-- Email -->
          <div class="mb-4">
            <label for="inputEmail" class="form-label">Email Address</label>
            <input type="email" class="form-control" formControlName="email" id="inputEmail" placeholder="Enter your email">
            <div *ngIf="passwordResetForm.get('email')?.invalid && (passwordResetForm.get('email')?.touched || passwordResetForm.get('email')?.dirty)" class="text-danger mt-1">
              <small *ngIf="passwordResetForm.get('email')?.errors?.['required']">Email is required.</small>
            </div>
          </div>
          <!-- Password -->
          <div class="mb-4">
            <label for="inputPassword" class="form-label">Password</label>
            <input type="password" class="form-control" formControlName="password" id="inputPassword" placeholder="Enter your password">
            <div *ngIf="passwordResetForm.get('password')?.invalid && (passwordResetForm.get('password')?.touched || passwordResetForm.get('password')?.dirty)" class="text-danger mt-1">
              <small *ngIf="passwordResetForm.get('password')?.errors?.['required']">Password is required.</small>
            </div>
          </div>
          <!-- Coonfirm Password -->
          <div class="mb-4">
            <label for="inputConfirmPassword" class="form-label">Confirm Password</label>
            <input type="confirmPassword" class="form-control" formControlName="confirmPassword" id="inputConfirmPassword" placeholder="Enter your password">
            <div *ngIf="passwordResetForm.get('confirmPassword')?.invalid && (passwordResetForm.get('confirmPassword')?.touched || passwordResetForm.get('confirmPassword')?.dirty)" class="text-danger mt-1">
              <small *ngIf="passwordResetForm.get('confirmPassword')?.errors?.['required']">Password is required.</small>
            </div>
          </div>
          <!-- Submit Button -->
          <div class="d-grid">
            <button type="submit" class="btn btn-primary" [disabled]="passwordResetForm.invalid">Confirm Password Reset</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  